  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    background-color: #202020;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border: 1px solid #fff;
    padding: 20px 50px;
    gap: 10px;
  }
  
  .title {
    font-size: 24px;
  }
  .title-centered {
    font-size: 28px;
    text-align: center;
  }
  
  .button {
    border-radius: 3px !important;
    border: none !important;
    padding: 10px 20px !important;
    font-weight: 500 !important;
    cursor: pointer;
    background-color: #373737 !important;
    color: #aaaaaa !important;
  }

  .wrapper-connected {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border: 1px solid #fff;
    padding: 20px 50px;
    gap: 10px;
    height: 70%;
    width: 70%;
    overflow-y: scroll;
      /* Hide scrollbar for IE, Edge add Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
  .wrapper-connected::-webkit-scrollbar {
    display: none;
  }

  .connected-btn {
    align-self: flex-end;
  }

  .other-tokens-container {
    border-radius: 3px !important;
    border: none !important;
    padding: 10px 20px !important;
    font-weight: 500 !important;
    background-color: #373737 !important;
    color: #aaaaaa !important;
  }
